.product-screen{
  width:100vw;
}
.product-Navbar{
    background-color: rgb(242, 246, 247);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-left{
    margin-top:10px;
}
.product-Navbar h2{
    padding-left: 30px;
}
a{
    color: black;
    text-decoration: none;
}
#active{
    color:coral;
}

.product-text{
    display: flex;
    justify-content: center;
}
.product-text span{
    margin-left: 10px;
}
.product-img img{
    height: 100px;
    width: 200px;  
}

/* product section css */
.product-container{
    display: flex;
    margin: 50px;
    justify-content: space-between;
    /* height: auto; */
}
.product-preview{
    display: flex;
    flex-direction: column;
    /* width: 550px; */
}
.product-slider{
    /* height:300px; */
    width: 500px;
    margin-bottom: 20px;
    /* background-color:rgb(242, 246, 247); */
}
    .swiper {
    padding: 2rem;
  }
  .swiper .res-slide {
    min-width: 300px;
    max-width: 500px;
    min-height: 350px;
  }
  .swiper .small-slide{
    max-width: 100px;
    min-height: 100px;
  }
  .swiper-nav-btns{
   display: flex;
  }
  .swiper-nav-btns button {
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    background-color:white;
    color:black;
    margin: 0px 0.5rem;
    border:1px solid black;
    margin-top: 30px;
    transition: all .5s;
  }
  
  .swiper-nav-btns button:hover {
    background-color: coral;
    cursor: pointer;
  }
  
  .smallImageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .small-view{
    height: 100px;
    width: 100px;
    background-color:rgb(242, 246, 247);
  }

  .product-images-slider-thumbs-wrapper{
    height: 100px;
    width: 110px;
    background-color:rgb(242, 246, 247);
  }
  /* product details css */
  .prodcut-details{
    display: flex;
    width: 100%;

    align-items: flex-start;
    flex-direction: column;
}
.review{
  margin:5px;
}
.review span{
  color: goldenrod;
}
.prodcut-details h3{
  margin: 10px;
}
.price{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:5px;
}
.prodcut-details .price h4{
  margin: 5px;
  color:gray;
  font-weight: bold;
}
.prodcut-details .price h3{
  color:tomato;
}
.discount{
  height: 25px;
  width:100px;
  background-color: gainsboro;
}
.discount p{
  font-weight: bold;
  
}
.productText p{
  text-align: left;
  margin:5px;
  line-height: 30px;
}
.productFeature{
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.featureItem{
  display: flex;
  align-items: center;
}
.featureItem h6{
  text-align: left;
  font-weight: bold;
  width: 80px;
}
.featureItem p{
  text-align: left;
  margin-left: 10px;
  width: 100px;
}
.horizontal{
  border: 1px solid gray;
  width: 100%;
}
.sizeSection{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  /* border:1px solid black; */
}
.sizeSection .size{
  height: 25px;
  width: 40px;
  padding:0;
  margin-right: 20px;
  border: 1px solid black;
}
.sizeSection .material{
  height: 25px;
  width: 70px;
  padding:0;
  margin-right: 15px;
  border: 1px solid black;
  border-radius: 20px;
}
.sizeSection .color{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 20px;
  border:1px solid white;
}
.sizeSection .active{
  border:1px solid black;
}
.colorPurple{
  background-color: purple;
}
.colorBlack{
  background-color: black;
}
.colorYellow{
  background-color: yellow;
}
.colorPink{
  background-color: pink;
}
.colorGreen{
  background-color: green;
}
/* Css for modal carousel */
.product-slider .ant-btn-default {
  background-color: transparent;
 border:none;
 box-shadow: none;
}
.buy-Message-button{
  margin: 20px auto;
  height: 40px;
  width: 120px;
  box-shadow: inset 0 0 0 0 white;
  color:black;
  font-size:20px;
  background-color: coral;
  transition: ease-out 0.4s;
  border:none;
}
.buy-Message-button:hover{
  box-shadow: inset 400px 0 0 0 white;
  color:black;
  border:1px solid black;
}
@media(max-width:1200px){
  .product-container{
   flex-direction: column;
   /* width: 100% !important; */
  }
  .product-preview{
    justify-content: center;
    align-items: center;
  }
}
