.navbar-container {
  position: relative;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-logo img {
  height: 80px;
  width: 80px;
}
.navbar-logo h4 {
  display: inline;
}
.navbar-contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 15%;
  text-align: left;
}
.phone-icon {
  font-size: 25px;
}
.phone-text1 {
  font-size: 15px;
}
.phone-text2 {
  margin-top: -5px;
  font-weight: 500;
}
.navbar-search {
  border: 1px solid gainsboro;
  width: 30%;
  padding: 3px;
}
.navbar-search .ant-btn-primary {
  background-color: white;
  color: black;
  box-shadow: none;
}
.navbar-search .ant-input-affix-wrapper {
  border-style: none;
}
.navbar-search
  .ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: transparent;
  box-shadow: none;
}
.navbar-search .ant-input-affix-wrapper:hover {
  border-color: transparent;
}
.navbar-features {
  display: flex;
  font-size: 25px;
  align-items: center;
  justify-content: space-evenly;
  width: 20%;
}



.navbar-features .user-menu{
position: absolute;
background-color: white;
width: 130px;
height: 200px;
box-shadow: 0px 0px 5px #888888;
border-radius: 5px;
z-index: 1000;
margin-left: -105px;
margin-top: 7px;
transition: 1s ease-in-out;
}
.user-menu-list{
  list-style: none;
  cursor: pointer;
  text-align: center;
  padding-left: 0px !important;
}
.user-menu-list .user-menu-list-item{
  display: flex;
  justify-content: flex-start;
  text-align: start;
  text-decoration: none;
  font-size: 16px;
    color:  #071c1f;
    margin:5px 0px;
    font-weight: 500;
    padding: 5px 15px;


}
.navbar-features2 {
  display: flex;
  font-size: 25px;
  align-items: center;
  justify-content: space-evenly;
  width: 20%;
}
.cartText {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text {
  font-size: 15px;
  font-weight: bold;
}
.ammount {
  font-size: 15px;
  margin-top: -10px;
  color: red;
}
.navbar-nav {
  display: flex;
  padding-left: 400px;
  padding-top: 20px;
  width: 100%;
  height: 80px;
  background-color: rgb(237, 229, 222);
}
.navbar-light .navbar-nav .nav-link {
  color: black;
  font-weight: 600;
}
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
padding: 0;
}
#feature2 {
  display: none;
  font-size: 25px;
  align-items: center;
  justify-content: space-evenly;
  width: 20px;
}
.menu-container-list {
  display: flex;
  width: 600px;
  margin-left: 30px;
  justify-content: space-around;
}
@media (max-width: 1000px) {
  .navbar {
    display: none;
  }
  .navbar-contact {
    display: none;
  }
  .navbar-search {
    display: none;
  }
  .navbar-features {
    display: none;
  }
  #feature2 {
    display: flex;
  }
}
