.navbar-container {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-logo img {
  height: 100px;
  width: 200px;
}
.navbar-contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 15%;
  text-align: left;
}
.phone-icon {
  font-size: 25px;
}
.phone-text1 {
  font-size: 15px;
}
.phone-text2 {
  margin-top: -5px;
  font-weight: 500;
}
.navbar-search {
  border: 1px solid gainsboro;
  width: 30%;
  padding: 3px;
}
.navbar-search .ant-btn-primary {
  background-color: white;
  color: black;
  box-shadow: none;
}
.navbar-search .ant-input-affix-wrapper {
  border-style: none;
}
.navbar-search
  .ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: transparent;
  box-shadow: none;
}
.navbar-search .ant-input-affix-wrapper:hover {
  border-color: transparent;
}
.navbar-features {
  display: flex;
  font-size: 25px;
  align-items: center;
  justify-content: space-evenly;
  width: 20%;
}
.navbar-features2 {
  display: flex;
  font-size: 25px;
  align-items: center;
  justify-content: space-evenly;
  width: 20%;
}
.cartText {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text {
  font-size: 15px;
  font-weight: bold;
}
.ammount {
  font-size: 15px;
  margin-top: -10px;
  color: red;
}
.navbar-nav {
  display: flex;
  padding-left: 400px;
  padding-top: 20px;
  width: 100%;
  height: 80px;
  background-color: rgb(237, 229, 222);
}
.navbar-light .navbar-nav .nav-link {
  color: black;
  font-weight: 600;
}
#feature2 {
  display: none;
  font-size: 25px;
  align-items: center;
  justify-content: space-evenly;
  width: 20%;
}
@media (max-width: 1000px) {
  .navbar {
    display: none;
  }
  .navbar-contact {
    display: none;
  }
  .navbar-search {
    display: none;
  }
  .navbar-features {
    display: none;
  }
  #feature2 {
    display: flex;
  }
}
